# Dependencies
node_modules/
package-lock.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Build
dist/
*.tsbuildinfo

# Env
.env*
.venv/
venv/
ENV/

# IDE
.vscode/
.idea/

# OS
.DS_Store

# Logs
*.log

# Coverage
coverage/

# Nested repositories
OLD OVERHAU;/
